{
    "level_range": { "min":0, "max":8 },

    "events":{
        "COMPLETE":{
            "0":"int",
            "1":"int",
            "2":"int",
            "3":"int",
            "4":"int",
            "5":"int",
            "6":"int",
            "7":"int",
            "8":"int",
            "stability":{
                "pack":"int",
                "charge":"int"
            }
        },
        "BEGIN":{
            "stars_0":"int",
            "stars_1":"int",
            "stars_2":"int",
            "stars_3":"int",
            "stars_4":"int",
            "stars_5":"int",
            "stars_6":"int",
            "stars_7":"int",
            "stars_8":"int"
        },
        "MOLECULE_RELEASE":{
            "event_custom":"MOLECULE_RELEASE",
            "startPosition":{
                "coord_0":{
                    "x":"int",
                    "y":"int"
                },
                "coord_1":{
                    "x":"int",
                    "y":"int"
                },
                "coord_2":{
                    "x":"int",
                    "y":"int"
                },
                "comment":"may be more coords, not sure if upper limit exists"
            },
            "endPosition":{
                "coord_0":{
                    "x":"int",
                    "y":"int"
                },
                "coord_1":{
                    "x":"int",
                    "y":"int"
                },
                "coord_2":{
                    "x":"int",
                    "y":"int"
                },
                "comment":"may be more coords, not sure if upper limit exists"
            },
            "time":"float",
            "startStability":{"pack":"int","charge":"int"},
            "endStability":{"pack":"int","charge":"int"}
        },
        "MOLECULE_ROTATE":{
            "event_custom":"string",
            "isStamp":"bool",
            "startRotation":"int",
            "endRotation":"int",
            "numRotations":"int",
            "startStability":{
                "pack":"int",
                "charge":"int"
            },
            "endStability":{
                "pack":"int",
                "charge":"int"
            }
        },
        "CLEAR_BTN_PRESS":{
            "event_custom":"string",
            "numTimesPressed":"int",
            "numMolecules":"int",
            "stability":{
                "pack":"int",
                "charge":"int"
            }
        },
        "QUESTION_ANSWER":{
            "event_custom":"string",
            "answer":"int",
            "answered":"int",
            "question":"int"
        },
        "MUSEUM_CLOSE":{
            "event_custom":"string",
            "timeOpen":"float"
        },
        "BACK_TO_MENU":
        {
            "event_custom":"BACK_TO_MENU"
        }
    },

    "features": {
        "perlevel": {
            "eventCount": {
                "enabled": true,
                "description": "Number of player events in the given level"
            },
            "durationInSecs": {
                "enabled": true,
                "description": "Time (in seconds) spent on the given level"
            },
            "stampRotateCount": {
                "enabled": true,
                "description": "Number of stamp rotate events in the level. These are MOLECULE_ROTATE events with isStamp set true."
            },
            "singleRotateCount": {
                "enabled": true,
                "description": "Number of single rotation events in the level"
            },
            "moleculeMoveCount": {
                "enabled": true,
                "description": "Number of molecule move (MOLECULE_RELEASE) events in the level"
            },
            "clearBtnPresses": {
                "enabled": true,
                "description": "Number of times the clear button was pressed in the level"
            },
            "avgMoleculeDragDurationInSecs": {
                "enabled": true,
                "description": "The average number of seconds each drag took, over the given level"
            },
            "finalScore": {
                "enabled": true,
                "description": "The max final score given when submit button pressed, for this level, among all plays"
            },
            "beginCount": {
                "enabled": true,
                "description": "number of times a player 'began' the level. [count of 'BEGIN' events]"
            },
            "menuBtnCount": {
                "enabled": true,
                "description": "The number of times a player pressed the 'return to menu' button during a level"
            },
            "completesCount": {
                "enabled": true,
                "description": "The number of time the player (pressed the submit button)/(completed the level) in the level"
            }
        },
        "per_count": {
            "questionAnswered": {
                "enabled": true,
                "count": 3,
                "prefix": "QA",
                "description": "The answer the user gave to a given question (or -1 if unanswered)"
            },
            "questionCorrect": {
                "enabled": true,
                "count": 3,
                "prefix": "QA",
                "description": "0 if user answered the question incorrectly, 1 if answered correctly, -1 if unanswered"
            }
        },
        "aggregate": {
            "sessionID": {
                "enabled": true,
                "description": "The player's session ID number for this play session"
            },
            "persistentSessionID": {
                "enabled": true,
                "description": "The session ID for the player's device, persists across multiple players using the same device."
            },
            "sessionEventCount": {
                "enabled": true,
                "description": "The total number of events across the entire session"
            },
            "sessionDurationInSecs": {
                "enabled": true,
                "description": "The total time (in seconds) spent over the entire session"
            },
            "sessionStampRotateCount": {
                "enabled": true,
                "description": "Total number of stamp rotation events over the session"
            },
            "sessionSingleRotateCount": {
                "enabled": true,
                "description": "Total number of single rotation events over the session"
            },
            "sessionMoleculeMoveCount": {
                "enabled": true,
                "description": "Total number of molecule move events over the session"
            },
            "sessionClearBtnPresses": {
                "enabled": true,
                "description": "Total number of times the clear button was pressed during the session"
            },
            "sessionMuseumDurationInSecs": {
                "enabled": true,
                "description": "Total amount of time spent in a museum during the session?"
            }
        }
    },

    "config": {
    	"SUPPORTED_VERS": [3]
	}
}