.fullscreen, html, body {
  height: 100%;
  margin: 0;
}
.fullscreen {
  display: flex;
  flex-direction: row;
}
.leftbar {
  background:darkgray;
  flex: 2;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
}
.rightdash {
  background: teal;
  flex: 6;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
}