.fullscreen, html, body {
  height: 100%;
  margin: 0;
}
.fullscreen {
  display: flex;
  flex-direction: row;
}
.leftbars {
  background:black;
  flex: 1;
  display: flex;
  flex-direction: row;
  overflow-y: scroll;
}
.rightdash {
  background: blue;
  flex: 3;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
}
.table {
  flex: 1;
  background: green;
  overflow-y: scroll;
}
.screens {
  flex: 2;
  display: flex;
  flex-flow: row wrap;
  overflow-y: scroll;
  align-items: flex-start;
}
.screens canvas {
  flex: 0 0 auto;
}
.statebar, .citybar {
  flex: 1;
  display: flex;
  flex-direction: column;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: lightgreen;
}


