{
    "level_range": { "min":0, "max":0 },

    "events":{
        "SELECTITEM":{
        "item": "item_data_short(it) | See [Data Short](#DataShort).",
        "mark": "it.mark | Item [mark index](#Mark)."
        }
    },

    "features": {
        "per_count": {
        },
        "aggregate":{
        }
    },

    "config": {
    	"SUPPORTED_VERS": [1]
	}
}