{
    "level_range": { "min":0, "max":0 },

    "events": {
        "change_button": {
            "VALUE": "Time taken to click, bool for correct click"
        }
    },

    "features": {
        "per_count": {
        },
        "aggregate":{
        }
    },

    "db_columns": {
        "event_name": "The name of the event",
        "event_params": "A repeated record of the parameters associated with this event",
        "user_id": "The user ID set via the setUserId API",
        "device": "A record of device information",
        "geo": "A record of the user's geographic information",
        "platform": "The platform on which the app was built",
        "session_id": "ID for the current play session",
        "timestamp": "Datetime when the event was logged"
    },

    "config": {
    	"SUPPORTED_VERS": [1]
	}
}
