# Workflow to run a test export of Crystal whenever we change the core OGD backend code.
# Chose Crystal simply because it has an extractor, but not a particularly complex one.
name: OpenGameData-Core CI Script
run-name: ${{ format('{0} - {1}', github.workflow, github.event_name == 'push' && github.event.head_commit.message || 'Manual Run') }}

on:
  push:
    paths:
    - 'src/ogd/core/detectors/**'
    - 'src/ogd/core/extractors/**'
    - 'src/ogd/core/features/**'
    - 'src/ogd/core/interfaces/**'
    - 'src/ogd/core/managers/**'
    - 'src/ogd/core/processors/**'
    - 'src/ogd/core/schemas/**'
    - 'src/ogd/core/schemas/*_schemas/**'
    - 'src/ogd/core/utils/*'
    - 'main.py'
    - '.github/workflows/CI_OGD.yml'
    - '.github/actions/**'
  workflow_dispatch:

jobs:
  test_export:
    name: CI Export of Aqualab Data
    runs-on: ubuntu-22.04
    concurrency:
      group: ${{ github.repository }}-${{ github.ref }}-${{ github.workflow }}
      cancel-in-progress: true

    steps:

  # 1. Local checkout 
    - name: Checkout repository
      uses: actions/checkout@v3
    - name: Get Dependencies
      uses: ./.github/actions/OGD_dependencies

  # 2. Configure cloud & local environments
    - name: Set up Cloud SDK
      uses: google-github-actions/setup-gcloud@v0
      with:
        project_id: ${{ secrets.OGD_BQ_PROJECT_ID }}
        service_account_key: ${{ secrets.OGD_SELECTOR_BQ_KEY }}
        export_default_credentials: true
    - name: Set up Config File
      uses: ./.github/actions/OGD_config
      with:
        vpn_user: ${{secrets.VPN_USER}}
        vpn_pass: ${{secrets.VPN_PASS}}
        sql_host: ${{vars.FD_LOGGER_HOST}}
        sql_user: ${{secrets.SQL_USER}}
        sql_pass: ${{secrets.SQL_PASS}}
        log_level: "DEBUG"
    - name: Set up Schema File for Crystal
      uses: ./.github/actions/OGD_schema
      with:
        game: "CRYSTAL"
    - name: Set up Schema File for Waves
      uses: ./.github/actions/OGD_schema
      with:
        game: "WAVES"

  # 3. Perform export
    - name: Attempt Export of yesterday's data with LegacyFeature
      uses: ./.github/actions/export_yesterday
      with:
        game: CRYSTAL
    - name: Attempt Export of yesterday's data with Regular Extractor
      uses: ./.github/actions/export_yesterday
      with:
        game: WAVES

  # 4. Cleanup & complete
    - name: Upload logs as artifacts
      uses: actions/upload-artifact@v3
      with:
        path: ./*.log
    - name: Upload Crystal zips as artifacts
      uses: actions/upload-artifact@v3
      with:
        path: ./data/CRYSTAL/*.zip
    - name: Upload Wave zips as artifacts
      uses: actions/upload-artifact@v3
      with:
        path: ./data/WAVES/*.zip
